.tabs-container {
    width: 35%;
    margin:  0px 0px 50px 100px;
    border: 1px solid #ddd;
    border-radius: 5px;
   
}
.p2{
    font-size: 15px;
}
.tabs {
    display: flex;
    background-color: #f8f8f8;
   
}

.tab-button {
    flex: 1;
    padding: 10px;
    text-align: center;
    border: none;
    background: none;
    cursor: pointer;
    transition:  0.3s;
}

.tab-button:hover {
    background-color: #eee;
}

.tab-button.active {
    background-color: #d72323;
    color: white;
    font-weight: bold;
}

.tab-content {
    display: none;
    padding: 20px;
    background-color: white;
}

.tab-content.active {
    display: block;
}
.tab-image {
    width: 100%;
    margin: 10px 0;
    border-radius: 5px;
  
}

